[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-sqlalchemy = "==3.1.1"
sqlalchemy-serializer = "==1.4.12"
flask-bcrypt = "==1.0.1"
flask-jwt-extended = "==4.6.0"
flask-migrate = "*"
flask-restful = "*"
requests = "*"
colorama = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
flask-cors = "*"
faker = "*"
cloudinary = "*"


[dev-packages]

[requires]
python_version = "3.8"
